<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body id="body">

<header>
    <%- include('../partials/header', {title:'Reset Password'}); %>
</header>

<main>
    <div class="container border-black my-4 p-4 h-85vh text-center">
    <h1>New password</h1>
    <form action="<%= url %>/player/passwordReset?email=<%= email %>&token=<%= token %>" method="post">
        <input type="password" name="password" id="password">
        <input type="submit" value="submit">
    </form>
    </div>
</main>
<script>

</script>
</body>
</html>
